.map {
    height: 45%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px -4px rgba(18, 160, 61, 0.5);
}


.map .leaflet-container {
    height: 100%;
}

.info-flag img {
    width: 100px;
    border-radius: 5px;

}

.info-flag{
    height: 100px;
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    border-radius: 8px;
}

.info-container {
    width: 150px;
}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
}